.img2 {
    max-width: 100%;
    max-height: 440px;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.mar {
    margin: 10px;
}

.rt {
    margin-top: 10px;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}

.rs {
    padding-bottom: 10px;
}