.division{
    text-align: center;

}
.registration1{
    margin-right: 97px;
}
.registration2{
    margin-right: 121px;
}
.registration3{
    margin-right: 121px;
}
.registration4{
    margin-right: 108px;
}
input[type=text], input[type=password],input[type=number] {
    width: 12%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }